@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

main{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../assets/bg-pic.png) no-repeat top;
}

#main-blur-bg{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    right: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#main-blur-bg::before{
    content: url(../assets/loading-gif.gif);
    position: absolute;
    transform: scale(1.2);
    filter: brightness(10);
}

.main-blur-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}

#form-wrapper{
    display: flex;
    justify-content: center;
}

#result-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header, #form-wrapper{
    opacity: 0;
}
