/*Effect for home page*/
#main-blur-bg{ animation: bgBlur 1s forwards 4s}

@keyframes bgBlur {
    to{width: 600px;}
}


/*Effect for loading page*/
#loading{animation: loading 2s forwards 3s}

@keyframes loading {
    to{opacity: 0}
}

/*Effect for content page*/
header {
    animation: showContent 1s forwards 6s ;
}

#form-content{
    animation: showContent 1s forwards 7s;
}

#result-box{
    animation: showContent 1s forwards 8s;
}

@keyframes showContent {
    to{
        transform: translateY(-5%);
        opacity: 1;
    }
}


/*Effect for Ipad*/
@keyframes bgBlur-Ipad {
    to{height: 65%}
}

/*Effect for Smartphone*/
@keyframes bgBlur-Ipad {
    to{height: 75%}
}