/*Effect for home page*/
#main-blur-bg{ animation: bgBlur 2s forwards 4s}

@keyframes bgBlur {
    to{width: 600px;}
}


/*Effect for loading page*/
#main-blur-bg::before{animation: loading 2s forwards 3s}

@keyframes loading {
    to{opacity: 0}
}


/*Effect for content page*/
header {
    animation: showContent .2s forwards 6s ;
}

#form-wrapper{
    animation: showContent .3s forwards 7s;
}

@keyframes showContent {
    to{
        transform: translateY(-5%);
        opacity: 1;
    }
}


/*Effect for Ipad*/
@keyframes bgBlur-Ipad {
    to{height: 65%}
}

/*Effect for Smartphone*/
@keyframes bgBlur-phone {
    to{height: 75%}
}